.fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.padding {
  padding: 0 36px;
}

.flex {
  display: flex;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .fluid {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .fluid {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .fluid {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .fluid {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1264px;
  }

  .fluid {
    width: 100%;
  }
}
