@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #f4fbfc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 10px;
  color: #223867;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36;
  line-height: 150%;
  text-align: center;
  color: #223867;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #028ca6;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  color: #223867;
}
